.container {
  width: 100vw;
  min-height: 100vh;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login{
    width: 380px;
    height: 100%;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000;
}



  .login-logo{
    width: 100%;
    display: flex;
    align-items: center ;
    justify-content: space-around;
    gap: 27px;
    margin-bottom: 10px;
  }

  .login-title{
    font-size: 14px;
    font-weight: bold;
    font-family: 'Roboto' ,Arial, Helvetica, sans-serif;
  }


  .login-inp-box{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .login-inp-id-num{
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .login-date-inp{
    width: 300px;
    display: flex;
    flex-direction: column;
   
  }

  .login-inps{
    width: 100%;
    height: 30px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(3, 107, 24);
    padding-left: 5px;
    color: rgb(13, 13, 171);

    &:hover{
        border-color: aqua;
        color: blue;
    }
    
  }

  .login-id-num-inp{
    width: 300px;
    height: 30px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(3, 107, 24) ;
    padding-left: 5px;
    margin-top: 5px;
    color: rgb(13, 13, 171);
    &:hover{
        border-color: aqua;
        color: blue;
    }
    
  }


  .login-inp-date{
    width: 300px;
    height: 30px;
    border: solid;
    border-radius: 5px;
    border-color: rgb(3, 107, 24);
    padding-left: 5px;
    color: rgb(13, 13, 171);
    margin-top: 5px;
    
  }


.login-title{
    color: rgb(13, 13, 171);
}


label{
    color: rgb(13, 13, 171);
}

.login-text{
    width:280px;
    color: rgb(9, 213, 9);
    font-size: 12px;
}

.login-submit{
    width: 300px;
    height: 38px;
    background-color: blue;
    border-radius: 15px;
    font-family: 'Roboto' ,Arial , san-serif;
    &:hover{
        box-shadow: 1 1 4px red;     
    }
    &:active{
        background-color: rgb(1, 1, 58);
        box-shadow: 0 0 6px red;
    }
    margin-top: 20px;
}
